<div class="grid-actions">
  <button mat-raised-button color="primary" (click)="addNewRow()">
    <mat-icon>add</mat-icon> Add New Row
  </button>
</div>
<div class="grid-container">
    <ag-grid-angular class="ag-theme-material" [rowData]="data" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [suppressCsvExport]="true" [enableRangeSelection]="true" [pagination]="true"
        [paginationPageSize]="defaultPageSize" (gridReady)="onGridReady($event)" style="height: 100%;"></ag-grid-angular>
</div>